{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {% for error in form.errors.email %}
                <span style="color:red">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p>
            Login: {{ form.email(size=40) }}<br>
            Password: {{ form.password(size=40) }}<br>
        </p>
        <p>{{ form.remember_me }} Remember Me</p>
        <p>
            <input type="submit" value="Sign In">
            <a href="{{ url_for('register') }}">Register</a>
        </p>
    </form>
{% endblock %}
